# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Env
.env
.env.local

# Media (не заливаем видео!)
media/
raw/
processed/

# Databases
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Logs
*.log